# Introduction

Use dataset of airline arrival information to predict how late flights
will be. A flight only counts as late if it is more than 30 minutes late.  
(I cannot get the data in the Data expo ‘09 site, so I got data from this link https://www.kaggle.com/vikalpdongre/us-flights-data-2008 instead)

# Data exploration

In [1]:
import pandas as pd
from sklearn.utils import shuffle

In [2]:
data  = pd.read_csv('2008.csv')

data.shape

(7009728, 29)

There are over 7 million rows in the data files.

In [3]:
pd.set_option('display.max_columns', 0)

data.head(20)

    Year  Month  DayofMonth  DayOfWeek  DepTime  ...  CarrierDelay  WeatherDelay  NASDelay SecurityDelay  LateAircraftDelay
0   2008      1           3          4   2003.0  ...           NaN           NaN       NaN           NaN                NaN
1   2008      1           3          4    754.0  ...           NaN           NaN       NaN           NaN                NaN
2   2008      1           3          4    628.0  ...           NaN           NaN       NaN           NaN                NaN
3   2008      1           3          4    926.0  ...           NaN           NaN       NaN           NaN                NaN
4   2008      1           3          4   1829.0  ...           2.0           0.0       0.0           0.0               32.0
5   2008      1           3          4   1940.0  ...           NaN           NaN       NaN           NaN                NaN
6   2008      1           3          4   1937.0  ...          10.0           0.0       0.0           0.0               47.0
7   2008      1           3          4   1039.0  ...           NaN           NaN       NaN           NaN                NaN
8   2008      1           3          4    617.0  ...           NaN           NaN       NaN           NaN                NaN
9   2008      1           3          4   1620.0  ...           NaN           NaN       NaN           NaN                NaN
10  2008      1           3          4    706.0  ...           NaN           NaN       NaN           NaN                NaN
11  2008      1           3          4   1644.0  ...           8.0           0.0       0.0           0.0               72.0
12  2008      1           3          4   1426.0  ...           NaN           NaN       NaN           NaN                NaN
13  2008      1           3          4    715.0  ...           NaN           NaN       NaN           NaN                NaN
14  2008      1           3          4   1702.0  ...           NaN           NaN       NaN           NaN                NaN
15  2008      1           3          4   1029.0  ...           NaN           NaN       NaN           NaN                NaN
16  2008      1           3          4   1452.0  ...           3.0           0.0       0.0           0.0               12.0
17  2008      1           3          4    754.0  ...           NaN           NaN       NaN           NaN                NaN
18  2008      1           3          4   1323.0  ...           0.0           0.0       0.0           0.0               16.0
19  2008      1           3          4   1416.0  ...          12.0           0.0       0.0           0.0               25.0

[20 rows x 29 columns]

Above is an example of data

And we need to check how many duplicated cells

In [4]:
data.describe()

            Year         Month    DayofMonth     DayOfWeek  ...  WeatherDelay      NASDelay  SecurityDelay  LateAircraftDelay
count  7009728.0  7.009728e+06  7.009728e+06  7.009728e+06  ...  1.524735e+06  1.524735e+06   1.524735e+06       1.524735e+06
mean      2008.0  6.375130e+00  1.572801e+01  3.924182e+00  ...  3.039031e+00  1.716462e+01   7.497434e-02       2.077098e+01
std          0.0  3.406737e+00  8.797068e+00  1.988259e+00  ...  1.950287e+01  3.189495e+01   1.837940e+00       3.925964e+01
min       2008.0  1.000000e+00  1.000000e+00  1.000000e+00  ...  0.000000e+00  0.000000e+00   0.000000e+00       0.000000e+00
25%       2008.0  3.000000e+00  8.000000e+00  2.000000e+00  ...  0.000000e+00  0.000000e+00   0.000000e+00       0.000000e+00
50%       2008.0  6.000000e+00  1.600000e+01  4.000000e+00  ...  0.000000e+00  6.000000e+00   0.000000e+00       0.000000e+00
75%       2008.0  9.000000e+00  2.300000e+01  6.000000e+00  ...  0.000000e+00  2.100000e+01   0.000000e+00       2.600000e+01
max       2008.0  1.200000e+01  3.100000e+01  7.000000e+00  ...  1.352000e+03  1.357000e+03   3.920000e+02       1.316000e+03

[8 rows x 24 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 1.5+ GB

With this data, we see that there are 3 catergorical:
1. UniqueCarrier
2. TailNum
3. Origin
4. Dest
5. CancellationCode

# Data preparation

In [6]:
data.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               136246
CRSDepTime                 0
ArrTime               151649
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                83365
ActualElapsedTime     154699
CRSElapsedTime           844
AirTime               154699
ArrDelay              154699
DepDelay              136246
Origin                     0
Dest                       0
Distance                   0
TaxiIn                151649
TaxiOut               137058
Cancelled                  0
CancellationCode     6872294
Diverted                   0
CarrierDelay         5484993
WeatherDelay         5484993
NASDelay             5484993
SecurityDelay        5484993
LateAircraftDelay    5484993
dtype: int64

**CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay** fields have over 5 million missing data  
Nearly all rows miss **CancellationCode** data

In [7]:
data.isnull().mean() * 100

Year                  0.000000
Month                 0.000000
DayofMonth            0.000000
DayOfWeek             0.000000
DepTime               1.943670
CRSDepTime            0.000000
ArrTime               2.163408
CRSArrTime            0.000000
UniqueCarrier         0.000000
FlightNum             0.000000
TailNum               1.189276
ActualElapsedTime     2.206919
CRSElapsedTime        0.012040
AirTime               2.206919
ArrDelay              2.206919
DepDelay              1.943670
Origin                0.000000
Dest                  0.000000
Distance              0.000000
TaxiIn                2.163408
TaxiOut               1.955254
Cancelled             0.000000
CancellationCode     98.039382
Diverted              0.000000
CarrierDelay         78.248300
WeatherDelay         78.248300
NASDelay             78.248300
SecurityDelay        78.248300
LateAircraftDelay    78.248300
dtype: float64

Above is the percentage of missing data

In [8]:
data.CancellationCode.unique()

array([nan, 'A', 'C', 'B', 'D'], dtype=object)

Because there are alot of null data in **CancellationCode** collumn, we shows CancellationCode data to see if its importance  
We write that unavailable data in **CancellationCode** will be another type of value: **0**

In [9]:
data['CancellationCode'] = data['CancellationCode'].fillna("0")

In [10]:
data.isnull().mean() * 100

Year                  0.000000
Month                 0.000000
DayofMonth            0.000000
DayOfWeek             0.000000
DepTime               1.943670
CRSDepTime            0.000000
ArrTime               2.163408
CRSArrTime            0.000000
UniqueCarrier         0.000000
FlightNum             0.000000
TailNum               1.189276
ActualElapsedTime     2.206919
CRSElapsedTime        0.012040
AirTime               2.206919
ArrDelay              2.206919
DepDelay              1.943670
Origin                0.000000
Dest                  0.000000
Distance              0.000000
TaxiIn                2.163408
TaxiOut               1.955254
Cancelled             0.000000
CancellationCode      0.000000
Diverted              0.000000
CarrierDelay         78.248300
WeatherDelay         78.248300
NASDelay             78.248300
SecurityDelay        78.248300
LateAircraftDelay    78.248300
dtype: float64

Now we do not have null value in **CancellationCode**, we do this because **CancellationCode** is categorical field  
We will do this with **TailNum and Origin**

In [11]:
data['TailNum'] = data['TailNum'].fillna("0")
data['Origin'] = data['Origin'].fillna("0")

In [12]:
data.isnull().mean() * 100

Year                  0.000000
Month                 0.000000
DayofMonth            0.000000
DayOfWeek             0.000000
DepTime               1.943670
CRSDepTime            0.000000
ArrTime               2.163408
CRSArrTime            0.000000
UniqueCarrier         0.000000
FlightNum             0.000000
TailNum               0.000000
ActualElapsedTime     2.206919
CRSElapsedTime        0.012040
AirTime               2.206919
ArrDelay              2.206919
DepDelay              1.943670
Origin                0.000000
Dest                  0.000000
Distance              0.000000
TaxiIn                2.163408
TaxiOut               1.955254
Cancelled             0.000000
CancellationCode      0.000000
Diverted              0.000000
CarrierDelay         78.248300
WeatherDelay         78.248300
NASDelay             78.248300
SecurityDelay        78.248300
LateAircraftDelay    78.248300
dtype: float64

In [13]:
data.TailNum.unique().size

5374

As TailNum fields has too many fields, we break it down to 3 different fields **TailNumLetter**, **TailNum**, **TailNumCode**.  

Example:  **N712SW**  
-> TailNumLetter: **N**  
-> TailNum: **712**  
-> TailNumCode: **SW**

In [14]:
# extract 2 last letters in TailNum as it may describe a certain flight code
def extract_2_last_letter(s):
    s = str(s)
    if len(s) == 6:
        return s[-2:]
    else:
        return s

def extract_3_mid_number(s):
    s = str(s)
    if len(s) != 1:
        return int(s[1:-2])
    else:
        return s

def extract_1st_letter(s):
    s = str(s)
    if len(s) == 6:
        return s[:1]
    else:
        return s

data['TailNumLetter'] = data.TailNum.apply(extract_1st_letter)
data['TailNumCode'] = data.TailNum.apply(extract_2_last_letter)
data['TailNum'] = data.TailNum.apply(extract_3_mid_number)

print (data[['TailNumLetter', 'TailNum', 'TailNumCode']].head())

  TailNumLetter TailNum TailNumCode
0             N  N712SW          SW
1             N  N772SW          SW
2             N  N428WN          WN
3             N  N612SW          SW
4             N  N464WN          WN

Samples above show the data has been broken smaller subdata

Then we mark **late** or **not late** data based on **ArrDelay**

In [15]:
data.loc[data.ArrDelay > 0,'Late'] = 1 # late ==1
data.loc[data.ArrDelay <= 0,'Late'] = 0 # not late ==0
data[['ArrDelay','Late']].head(10)

   ArrDelay  Late
0     -14.0   0.0
1       2.0   1.0
2      14.0   1.0
3      -6.0   0.0
4      34.0   1.0
5      11.0   1.0
6      57.0   1.0
7     -18.0   0.0
8       2.0   1.0
9     -16.0   0.0

Then drop all NA data

In [16]:
data.drop(columns=['ArrDelay'])
data = data.dropna()

In [17]:
data.isnull().sum()

Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
TailNumLetter        0
TailNumCode          0
Late                 0
dtype: int64

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1524735 entries, 4 to 7009721
Data columns (total 32 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Year               1524735 non-null  int64
 1   Month              1524735 non-null  int64
 2   DayofMonth         1524735 non-null  int64
 3   DayOfWeek          1524735 non-null  int64
 4   DepTime            1524735 non-null  float64
 5   CRSDepTime         1524735 non-null  int64
 6   ArrTime            1524735 non-null  float64
 7   CRSArrTime         1524735 non-null  int64
 8   UniqueCarrier      1524735 non-null  object
 9   FlightNum          1524735 non-null  int64
 10  TailNum            1524735 non-null  object
 11  ActualElapsedTime  1524735 non-null  float64
 12  CRSElapsedTime     1524735 non-null  float64
 13  AirTime            1524735 non-null  float64
 14  ArrDelay           1524735 non-null  float64
 15  DepDelay           1524735 non-null  float64
 16  Origin             1524735 non-null  object
 17  Dest               1524735 non-null  object
 18  Distance           1524735 non-null  int64
 19  TaxiIn             1524735 non-null  float64
 20  TaxiOut            1524735 non-null  float64
 21  Cancelled          1524735 non-null  int64
 22  CancellationCode   1524735 non-null  object
 23  Diverted           1524735 non-null  int64
 24  CarrierDelay       1524735 non-null  float64
 25  WeatherDelay       1524735 non-null  float64
 26  NASDelay           1524735 non-null  float64
 27  SecurityDelay      1524735 non-null  float64
 28  LateAircraftDelay  1524735 non-null  float64
 29  TailNumLetter      1524735 non-null  object
 30  TailNumCode        1524735 non-null  object
 31  Late               1524735 non-null  float64
dtypes: float64(15), int64(10), object(7)
memory usage: 383.9+ MB

Convert categorical data

In [19]:
data['TailNum'] = data['TailNum'].apply(lambda x: pd.factorize(x)[0])
cat_columns = data.select_dtypes(['object']).columns
data = pd.get_dummies(data=data, columns=cat_columns)
data.head(10)

TypeError: unhashable type: 'numpy.ndarray'

In [ ]:
data.info()

In [ ]:
data.drop(columns=['Year'])

# Apply model to predict if flight is late or not